body {
    background-color: #E0E0E0
}

.text-center {
    text-align: center
}

.mt-100 {
    margin-top: 20%
}

.progress {
    background-color: #e5e9eb;
    height: 0.45em;
    position: relative;
    margin-left: 10px;
    margin-right: 10px
}

.progress-bar {
    -webkit-animation-duration: 3s;
    -webkit-animation-name: width;
    background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    background-size: 24em 0.25em;
    height: 100%;
    position: relative
}

.progress-shadow {
    background-image: linear-gradient(to bottom, #eaecee, transparent);
    height: 4em;
    position: absolute;
    top: 100%;
    transform: skew(45deg);
    transform-origin: 0 0;
    width: 100%
}

@keyframes width {

    0%,
    100% {
        transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85)
    }

    0% {
        width: 0
    }

    100% {
        width: 100%
    }
}

@-webkit-keyframes width {

    0%,
    100% {
        transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85)
    }

    0% {
        width: 0
    }

    100% {
        width: 100%
    }
}